@import "./theme";
@import "./buttons";
/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: "Plus Jackarat Sans";
  src: url("/public/PlusJakartaSans-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  @include theme("color", $primary-text-color);
  @include theme("background-color", $general-background);

  & {
    min-height: 100vh;
    line-height: 1.6;
    font-family: "Plus Jackarat Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

main {
  flex: 1;
  overflow: hidden;
}

section {
  width: 100vw;
  margin: 0 2rem;
}
